body{
    background-image:url(/assets/focus.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.focus-body{
margin-top: 100px;
font-size: 20px;
}

.focus-body h1{
    font-size: 50px;
    color: rgba(191, 171, 101, 0.854);
}

.focus-body span{
    font-weight: 800;
    font-size: 30px;
}

.focus-body button{
    padding: 12px 24px;
  background: linear-gradient(to right, #dec554, #7f7356);
  background-size: 200% auto;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.focus-body button:hover {
  background-position: right center;
  transform: scale(1.05);
}
.focus-body input {
    margin: 20px 0;
}

#icon-button {
   font-size: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

audio {
    display: none;
}